<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="showMain">
<mat-toolbar color="accent" class="toolbar">
  <div class="title">
    {{ title }}
  </div>
  </mat-toolbar>
  <mat-grid-list cols="{{gridCols}}" rowHeight="500px">
  <mat-grid-tile
      *ngFor="let concertSpectDisplay of concertSpects"
      [colspan]="concertSpectDisplay.colSpan"
      [style.background]="concertSpectDisplay.backgroundColor"
      (click)="tileClick(concertSpectDisplay.concertSpect.id)">
      <img *ngIf="concertSpectDisplay.headerImage !== null"
      src="{{concertSpectDisplay.headerImage}}" />
      <mat-grid-tile-footer>
        {{concertSpectDisplay.concertSpect.title}}

        {{concertSpectDisplay.concertSpect.date}}
      </mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>
</div>
<div *ngIf="!showMain">
<mat-toolbar color="accent" class="toolbar">
  <div class="title">
    {{ concertSpect.title }}
  </div>
  <button mat-raised-button color="primary" (click)="goBack()">
    Back
  </button>
  </mat-toolbar>
  <ngb-carousel >
  <ng-template ngbSlide *ngFor="let concertSpectImage of concertSpectImages">
    <img [src]="concertSpectImage">
  </ng-template>
</ngb-carousel>
</div>
